body{
    background-color: cornflowerblue;
    color:cornsilk;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop-zone{
    flex : 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.link-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex : 1;
    margin: 40px;
    height: 80px;
    background-color: cornsilk;
    color: darkblue;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    cursor: pointer;
}
.link-box:hover{
    background-color: honeydew;
}

.invisible{
    opacity: 0;
}

.alarm-container button{
    width: 50px;
}

.ellipsis2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.img-link-container{
    display: flex;
}

.image-back{
    flex:0.1;
    height: 30px;
}

.img-scroll-view{
    height: 150px;
    background-color:dodgerblue;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin:0 auto;

}

.img-preview {    
    display: inline-block;
    margin-left: 40px;
    height: 90%;
    width: 150px;
    border-radius: 30px;
}

.img-view img{
    max-height: 100%;
    max-width: 100%;
}

.draw-boarder{
    border: 6px solid orange;
}

.img-view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
}