body{
    background-color: cornflowerblue;
    color:cornsilk;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop-zone{
    flex : 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.link-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex : 1;
    margin: 40px;
    height: 80px;
    background-color: cornsilk;
    color: darkblue;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
    cursor: pointer;
}
.link-box:hover{
    background-color: honeydew;
}

.invisible{
    opacity: 0;
}

.alarm-container button{
    width: 50px;
}