<div class = "container">
    <section class = "link-container">
            <div class = "link-box">
                {{!-- <button onclick="window.location.reload()">home</button> --}}
            </div>
    </section>
</div>