<div class="container">
    <section class = "link-container">
        <div class = 'drop-zone'><div class = 'link-box' draggable='true'></div></div>
        <div class = 'drop-zone'><div class = 'link-box' draggable='true'></div></div>
        <div class = 'drop-zone'><div class = 'link-box' draggable='true'></div></div>
    </section>
</div>
