<div class="Memo">
    <section class = "link-container">
            <div class = "link-box memo-back"> 
               <span>BACK</span>
            </div>
            <div class = "link-box memo-new"> 
                <span>NEW</span>
            </div>
    </section>
    <section class='memo-container'>
        <div class='memo-input-form invisible'>
            <input type="text" name="memo" placeholder="메모를 작성하세요." class="memo-input" >
        </div>
        <ul class='memo-list'>

        </ul>
    </section>
</div>